.dodajProjekat {
    color: #2c2c2d;
    padding: 10px;
    width: 100px;
    text-align: center;
    width: 300px;
    font-size: 1.5rem;
    background-color: white;
}

.dodajProjekat:hover {
    background-color: #2c2c2d;
    color: white;
    cursor: pointer;
}

.dodajProjekatBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropbtn {
    color: #2c2c2d;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: inline;
    background-color: white;

}

.dropbtn:hover{
    background-color: #2c2c2d;
    color: white;
}

.ddContainer{
    margin: 2px 20%;
}

.ddContainerR{
    margin: 2px 20%;
}

.ddinline{
    display: inline;
}

.ddOption{
    background-color: #2c2c2d;
    color: white;
}

.dodajProjekatNaslov{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.inputNaslov{
    display: block;
    width: 30em;
    height: 2.5em;
    outline: transparent;
    border: 2px solid #2c2c2d;
    padding: 5px 10px;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.inputNaslov:focus{
    outline: 2px solid #2c2c2d;
}

.imgInput{
    display: block;
    width: 30em;
    height: 2.5em;
    outline: transparent;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.inputNaslovLbl{
    font-size: 1.3rem;
    display: block;
}

.selectContainer{
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
    margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
    .dodajProjekat{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 685px) {
    .ddContainer{
        display: block;
    }

    .dropbtn{
        padding: 8px;
        font-size: 10px;
        margin: 3px;
    }

    .selectContainer{
        display: block;
    }
    .dodajProjekat{
        padding: 12px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .dodajProjekat{
        font-size: 10px;
        width: 200px;
        padding: 5px;
    }

    .dropbtn{
        padding: 5px;
        font-size: 8px;
        display: inline;
    }

    .selectContainer{
        margin: 0 5%;
    }
}

